<form [formGroup]="stockPickerForm">
  <mat-form-field>
    <input
      matInput
      placeholder="Symbol e.g AAPL"
      formControlName="symbol"
      value=""
    />
    <mat-error
      ><span
        *ngIf="
          !stockPickerForm.get('symbol').valid &&
          stockPickerForm.get('symbol').touched
        "
        >Please enter a symbol</span
      >
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <mat-label>Favorite time period</mat-label>
    <mat-select formControlName="period" (selectionChange)="fetchQuote()">
      <mat-option
        *ngFor="let timePeriod of timePeriods"
        [value]="timePeriod.value"
      >
        {{ timePeriod.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <input matInput  [max]="maxDateFrom" [matDatepicker]="picker1" [formControlName]="dateFrom" 
    (dateInput)="addEvent( $event)" placeholder="Choose a date From">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [min]="minDateTo" [matDatepicker]="picker2" [max]="maxDateTo" [formControlName]="dateTo"
    (dateInput)="fromDate( $event)" placeholder="Choose a date To">
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>

  <button (click)="fetchQuote()" mat-raised-button>Go</button>
</form>

<coding-challenge-chart [data$]="quotes$"></coding-challenge-chart>
